// All Colors
// ===========================================

//
// Replace all text color inside an element.
// Useful to use on dark background to achieve light text color
//

@mixin all-colors( $color ) {
  color: $color;

  h1,  h1>a, h2, h3, h4, h5, h6, a {
    color: $color;
  }
}