// Background Image
// ===========================================

//
// $path--image variable should be in your _variables.scss file, e.g.
// $path--image: '../images'
//

@mixin bg-img-full( $path, $color: transparent, $repeat: no-repeat, $position: 0 0, $size: null ) {
  background: $color url('#{$img-path}/#{$path}') $repeat $position;
  background-size: $size;
}

@mixin bg-img-only( $path ) {
  background-image: url('#{$img-path}/#{$path}');
}