/// @author Yemi Kehinde
/// @param {String} $weight - font-weight
/// @require $fontWeight

@mixin font-weight($weight) {
  @if map-has-key($fontWeight, $weight) {
    font-weight: map-get($fontWeight, $weight);
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$weight}`. "
    +"Available font weights are: #{map-keys($fontWeight)}.";
  }
}