/* Usage
* Create a font face rule that applies to bold and italic text.

** @include font-face("Samplina Neue", fonts/SamplinaNeue, bold, italic);

* Create a font face rule that only sources a WOFF.

** @include font-face(Samplinoff, fonts/Samplinoff, null, null, woff);

* Create a font face rule that applies to 500 weight text and sources EOT, WOFF2, and WOFF.

** @include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);
*/

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) { 
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
         url($file-name + '.woff') format('woff'),
         url($file-name + '.ttf')  format('truetype'),
         url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}