/**
 * Buttons
 * =================================
 * - Associated Button Variables
 * - Base button styling
 * – Button Modifiers
 * 	 – btn--primary
 *   – btn--block
 */


/**
 * Define associated Button variables
 */
$btn-default-bgColor: #005b99;

.btn {
	display: block;
	vertical-align: middle;
	white-space: nowrap;
	font-family: inherit;
	font-size: 100%;
	cursor: pointer;
	padding-top:    0;
	padding-bottom: 0;
	line-height: 2.5;
	height: 2.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	overflow: visible;
	text-align: center;
	user-select: none;
	color: $color-text;

	
	// You may want to change this
	background-color: transparent;
	border: 2px solid $color-text;
	width: 100%;
	margin: 10px auto;
	
	.dark & {
		border: 2px solid $color-text-inverse;
		color: $color-text-inverse;
	}

	@media only screen and (min-width: 768px){
		width: 30%;
	}

	&,
	&:link,
	&:visited {
		color: $color-text;

		.dark & {
			color: $color-text-inverse;
		}
	}

	&:hover,
	&:active,
	&:focus {
		color: $color-text;

		.dark & {
			color: $color-text-inverse;
		}
	}

	&,
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: $color-text;

		.dark & {
      color: $color-text-inverse;
    }
	}

	&:active,
	&:focus {
		color: $color-text;
		outline: none;

		.dark & {
      color: $color-text-inverse;
    }
	}

	// Disabled state
	&.disabled,
	&[disabled] {
		cursor: default;
		background-image: none;
		opacity: .5;
	}
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn--block {
		width: 100%;
	}
}