@import '../globals/mixins/index.scss';

html {
  line-height: var(--lineHeight-normal);
  font-size: $font__size--base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: $font__size--base;
  
  .global-wrapper {
    color: $color-text;
    
    &.dark {
      @include all-colors($color-text-inverse);
    }
  }
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  margin-top: $spacing-header;
  margin-bottom: $spacing-double;
  line-height: $lineHeight-tight;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  @include font-weight(bold);
  color: $color-heading;
}


h1 {
  padding: 3rem 0;
  a {
    @include font-weight(black);
    font-size: $font__size--h1;
  }
}

h2,
h2.main-heading {
  font-size: $font__size--h2;
}

h3 {
  font-size: $font__size--h3;
}

h4 {
  font-size: $font__size--h4;
}

h5 {
  font-size: $font__size--h5;
}

h6 {
  font-size: $font__size--h6;
}

h1>a {
  color: inherit;
  text-decoration: none;
}

h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  font-family: $font-family-base;
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li>p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li>ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: $color-text-light;
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: $font__size--h2;
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote> :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote>ul,
blockquote>ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: $color-primary;
  word-break: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}