/**
 * Breakpoints
 * =================================
 * There are no common breakpoints so these are just a suggestions
 * You'll need to define your own breakpoints to suit your design
 * Add your breakpoints to this Sass map
 * Used in the Kickoff grid
 * Usage: ko-bp(100)
 */
$breakpoints: (
	mobile: 400px,
	tablet: 768px,
	desktop: 1000px,
	desktop-wide: 1250px
) !default;

/**
 * Colour Palette
 * =================================
 */

$color-primary: #005b99;
$color-text: #2e353f;
$color-text-inverse: #dedede;
$color-text-light: #4f5969;
$color-heading: #1a202c;
$color-heading-black: #000;
$color-accent: #d1dce5;
$color-background-light: #f5f5f5ff;
$color-background-dark: #383838ff;

/**
 * Typography
 * =================================
 *
 */

//  Font Families
 $font-family-heading		: 'Montserrat', sans-serif;
 $font-family-base		: 'Roboto', sans-serif;

// Font Size: Base
$font__size--root    : 16px;
$font__size--base    : 18px;
$font__size--small   : round( $font__size--base * 0.875 );
$font__size--large   : round( $font__size--base * 1.25 );
$font__size--x-large : round( $font__size--base * 1.6 );

// Font Size: Headings
$font__size--h1 : 45px;
$font__size--h2 : 35px;
$font__size--h3 : 25px;
$font__size--h4 : 20px;
$font__size--h5 : 16px;
$font__size--h6 : 14px;

// Line Heights
  $lineHeight-none: 1;
  $lineHeight-tight: 1.1;
  $lineHeight-normal: 1.5;
  $lineHeight-relaxed: 1.625;

	// Font Weights
$fontWeight: (
	normal: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900
);

// Spacing
$spacing-quarter: 0.25rem;
$spacing-half: 0.5rem;
$spacing-normal: 1rem;
$spacing-double: 2rem;
$spacing-header: 3rem;
  // --spacing-0: 0;
  // --spacing-3: 0.75rem;
  // --spacing-5: 1.25rem;
  // --spacing-6: 1.5rem;
  // --spacing-10: 2.5rem;
  // --spacing-16: 4rem;
  // --spacing-20: 5rem;
  // --spacing-24: 6rem;
  // --spacing-32: 8rem;

// Setup layout max-width
$layout-margin                : 0; // [in pixels] Space outside the grid
$layout-max-width             : 1000; // [in pixels]
$layout-min-width             : 960;  // [in pixels] Minimum width for layout in <IE9
$layout-max-width--huge       : 1100; // [in pixels]
$layout-min-width--huge       : 1100; // [in pixels] Minimum width for layout in <IE9

/**
 * Path variables
 * =================================
 */
$img-path                 : "/assets/dist/img"; // Usage: background: url('#{$img-path}/img.jpg') 0 0 no-repeat;
$path--font  							: '/assets/dist/fonts';