@import "../../../globals/index";

.contact-form {
  .form-input {
    margin: 10px auto;
    display: block;
    width: 100%;
    border-radius: 0;
    height: 2.5em;
    padding: .5em;
    // font-size: ko-font-size(m);
    font-family: $font-family-base;
    // line-height: $leading-base;
    // color: $input-textColor;
    @include font-weight(normal);
    background-color: transparent;
    border: 2px solid $color-text;
    background-clip: padding-box;
    transition: border 200ms ease-in-out;
		color: $color-text;

		.dark & {
      color: $color-text-inverse;
    }

    .dark & {
      border: 2px solid $color-text-inverse;
    }
  }

  .form-input--textarea {
    height: auto;
    min-height: 5em;
    resize: vertical;
  }
}