@import 'globals/index.scss';

.blog-post {
  header {
    h2 {
      margin: 0 0 1rem 0;
    }
  }

  .article-body {
    margin: 0 auto;
    width: 80%;
  }

  .blog-post-nav {
    margin: 0 auto;

    ul {
      text-align: center;
      width: 100%;

      li > a {
        font-family: $font-family-base;
        text-decoration: none;
      }

      @include respond-to(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
      }
    }

    @include respond-to(tablet) {
      width: 60%;
    }
  }
}

// .blog-post header p {
//   font-size: var(--fontSize-2);
//   font-family: var(--font-heading);
// }
