@import "../../../globals/index.scss";

.social-container {
  @include respond-to(tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    margin: 20px auto;
    justify-content: space-between;
  }
}