@import '../../globals/index';

button.theme-switch {
  border: none;
  width: 36px;
  height: 36px;
  position: fixed;
  bottom: 1%;
  left: 1%;
  z-index: 9999;
  
  @include respond-to(desktop) {
    background: none;
    width: 50px;
    height: 50px;
    left: unset;
    bottom: unset;
    top: 2.5rem;
    right: 10%;
    position: absolute;

    .dark {
      filter: invert(1);
    }
  }
}