.grid-item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 33%;
  }

  @media screen and (min-width: 1000px) {
    width: 25%;
  }
  
  .post-title {
    font-size: 0;
    position: absolute;
  }
}