@import 'globals/index.scss';

.header--image-container {
  height: 10vh;
  overflow: hidden;
  position: relative;
  margin: 20px auto;

  @include respond-to(tablet) {
    height: 25vh;
    margin: 25px auto;
  }

  @include respond-to(desktop) {
    height: 35vh;
    margin: 30px auto;
  }

  .gatsby-image-wrapper {
    margin-bottom: 0;

    img {
      transform: translateY(-50%);
    }
  }
}
