@import "../globals/index";

.grid {
  width: 100%;
  list-style: none;
  display: block;

  .post-image-container {
	width: 100%;
  position: relative; 
  overflow: hidden;
  
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
}