.back-to-top-button {
  position: fixed;
  bottom: 1%;
  right: 1%;
  border: none;
  width: 36px;
  height: 36px;
  z-index: 9999;

  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: 1000px) {
  }
}
